section {
    max-width: 35rem;
    margin: auto;
    margin-top: auto;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    padding: 2rem 0.5rem 1rem 0.5rem;
    margin-top: -2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.header__resume {
    font-size: 1rem;
    margin: .5rem auto 1rem auto;
    border-bottom: .1rem dotted #eee;
    padding-bottom: .5rem;
}

.body__content {
    max-width: 35rem;
    border: none;
    margin: auto;
    border-radius: 0px;
    box-shadow:none;
    margin-top: 1rem;
    padding: 0;
}

a {
    text-decoration: none;
    border-radius: .4rem;
    color: #FFF;
    background-color: #9b4dca;
    width: 200px;
    border: none;
    height: 40px;
    margin-top: 1rem;
    font-size: 16px;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

img {
    width: 400px;
}
